

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.morse-area{
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin: 100px;
  height: 80vh;
  width: 80vw;
 
  background-color: lavenderblush;
  border-radius: 20px;
}

#messageInput{
  background-color: blanchedalmond;
}

#translation{
  background-color: blanchedalmond;
}

textarea{
  width: 30vw;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
button{
  margin-top: 10px;
}